@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
:root {
     font-family: "Poppins", sans-serif;
}

@keyframes ring-pulse-color {
    0%, 100% {
        box-shadow: 0 0 0 2px #d15757;
    }
    50% {
        box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.101);
    }
}

.animate-ring-pulse {
    animation: ring-pulse-color 2s ease-in-out infinite;
}

@keyframes ring-pulse-green {
    0%, 100% {
        box-shadow: 0 0 0 2px rgba(87, 209, 170, 1);
    }
    50% {
        box-shadow: 0 0 0 2px rgba(87, 209, 170, 0.3);
    }
}

.animate-ring-pulse-green {
    animation: ring-pulse-green 2s ease-in-out infinite;
}